PROJECT_NAME="notification-service"

APP_PORT=10001

# LavinMQ / RabbitMQ Broker Configuration
QUEUE_HOST="0.0.0.0"
QUEUE_PORT=5672
QUEUE_USER="guest"
QUEUE_PASSWORD="guest"
QUEUE_VHOST="/"

# PostgreSQL Database Configuration
DB_HOST="0.0.0.0"
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=notification
DB_SSLMODE="disable"
DB_MAX_OPEN_CONN=25
DB_MAX_IDLE_CONN=23
DB_CONN_MAX_LIFETIME=5
DB_CONN_MAX_IDLE_TIME=5

# Valkey / Redis Cache Configuration
CACHE_HOST="0.0.0.0"
CACHE_PORT=6380
CACHE_DB=0
CACHE_TIMEOUT=5 # seconds

# Firebase Cloud Messaging Credentials
# Path to firebase service account json file
FIREBASE_CREDENTIALS_PATH="service-account.json"
FCM_MOCK=true # Set to false to use actual Firebase SDK
